.bg-cus-top{
    background-color: #0e2737;
}
.h-cus-t{
    height: 7vh;
}
.fo-co-b-cus{
    color: rgb(255, 255, 255);
}
.fo-co-b-cus:hover{
     color: gray;
}
.ms-c-e{
    margin-right:7rem;
}
.ms-c-s{
    margin-left:7rem;
}
.b-img-c-1{
    background-image: url(../img/17.jpg.webp);
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-blend-mode: color;
    opacity:0.3;
}
/* .b-c-ad{
    background-color: rgba(0, 0, 0, 0.719);
    z-index: 1;
} */
.b-img-c{
    background-image: url(../img/18.jpg.webp);
    height: 90vh;
    width: 100vw;
    background-size: cover;
    opacity:0.3;
}
.hight-c-2{
    height:70vh;
}
.h1-c-t-sli{
    position: relative;
    z-index: 19;
    color: white;
    font-size: medium;
    font-weight: bold;
}