body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(231, 212, 188);
}

header {
    margin-top:94px;
    /* background-image:url(); */
    background-color: rgba(0, 0, 0, 0.644);
    width:100%;
    height:100%;
}

nav {
    text-align: center;
    padding: 0%;
}

.nh {
    position: relative;
    z-index: 10;
    margin-top:-100px;
    display: inline-block;
    color: white;
    float: left;
    padding-left: 100px;
    padding-top: 20px;
}
.nl,.nb{
    z-index:6;
    width:100%;
display: inline-block;
    position: fixed;
    top: -20px;
    left:0%;
    background-color: rgba(0, 0, 0, 0.644);
    
}
.nl,
.ni {
    display: inline-block;
    padding: 20px;
    list-style: none;
}

.nb {
    position: relative;
  margin-top: -35px;
    width: 100px;
    height: 30px;
    background-color: yellow;
    border: none;
    border-radius: 15px;
    float: right;
    margin-right: 60px;

}

a {
    color: white;
    text-decoration: none;
}

.thf {
    font-size: 50px;
}

.ths {
    color: yellow;
    font-size: 50px;

}

.dp {
    font-size: 17px;
}

.dh {
    display: inline-block;
}

.td {
    padding: 0%;
    margin: 0%;
    text-align: center;
}

.dbf,
.dbs {
    height: 35px;
    width: 100px;
    background-color: yellow;
    border-radius: 15px;
    border: none;
}

.nh {
    display: inline-block;
}

.lh {
    display: inline-block;
    /* padding-top :20px;
    padding-left: 50px; */
    height: 30px;
    width: 110px;
    border: 1px solid yellow;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    margin: 10px;

}

.sh {
    display: inline-block;
    color: white;
    float: left;
    padding-left: 310px;

}

.ls {
    display: inline-block;
    margin-left: 60px;
}
.sbf{
    position: absolute;
        /* background-image:url(); */
    background-color: gray;
    width: 250px;
    height:250px;
    margin:30px 30px 90px;
     text-align: center;
}
.md{
    margin-left: 300px;
}
.sbs{
    left: 220px;
    bottom: -200px;
    position: relative;
    width:350px;
    height:200px;
    background-color: rgb(0, 0, 0);
    text-align: justify;
}
.sbsh{
    color: aliceblue;
    padding:30px;
}
.y{
    color: yellow;
}
.b{
    font-size: larger;
}
.mds{
    margin-top: 200px;
    margin-left: 300px;
}
.s{
    font-size: 16px;
}
.l{
    font-size: 20px;
}
.mdss{
    display: inline-block;
    padding: 70px;
}
.mdsf{
    display: inline-block;
    padding: 70px;
}
.cfb{
    display: inline-block;
    background-color: black;
    height:250px;
    width:250px;
    margin: 10px;
    padding: 20px;
    color: white;

}
.cfw{
    display: inline-block;
    background-color: rgb(255, 255, 255);
    height:250px;
    width:250px;
    margin: 10px;
    padding: 20px;
    color: black;
    
}
.cf{
    display: inline-block;
    height:32px;
    width:32px;
    background-color: yellow;

}
.mdr{
    width:100%;
    height:250px;
    background-color: white;
    padding-top: 50px;
   
}
.my{
    display: inline-block;
    width:280px;
    height:100px;
    background-color: yellow;
    padding-left:400px;
}
.mw{
    display: inline-block;
    padding-left: 100px;
}
.bo{
    font-weight: bolder;
}
.lr{
    font-size: 50px;
}
.mdi{
    height: 400px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.644);
    margin-top: 50px;
    /* padding-left:100px; */
    padding-top: 30px;
}
.mdih{
    text-align: center;
}
.sf{
    display: inline-block;
    height:72px;
    width:72px;
    background-color: yellow;
}
.in{
    display: inline-block;
}
.mdl{
    padding-left: 9rem;
}
.inb{
    display: inline-block;
    margin: 2rem;
}
.center{
    text-align: center;
    display: block;
}
.ln{
    margin-top: 5rem;
}
.xl{
    font-size: 3rem;
}
.dl{
    margin: 10px 20px 10px 90px;
    display: inline-block;
    width:300px;
    height: 300px;
    background-color: white;
    color: black;
}
.t{
    padding: 20px;
}
footer{
    background-color: black;
    width:100%;
    height: 30rem;
    border-top: 0.5rem solid yellow;
    color:white
}
.fd{
    width:14rem;
    height: 20rem;
    padding: 20px;
    display: inline-block;
    margin:10px 40px 10px 40px;
}
.tf{
    margin-top: 30px;
    float: right;
    padding: 20px;
}
form{
    display: inline-block;
    width:30rem;
    height: 20rem;
    padding: 0px;
}
textarea{
    height:100px;
    width: 100%;
}
input{
    height:30px;
    width: 100%;
}
.button{
    color: black;
    background-color: yellow;
    border:none;
    border-radius: 20px;
}
.m{
    margin-top: 30px;
}
.ny{
    margin-top: 30px;
}
/* hover-effects */
.ni:hover{
    color: yellow;
    border-left: 1px solid yellow;
    border-top: 1px solid yellow;
    border-radius:20px;
}
.k:hover{
    text-shadow:1px 1px yellow;
}
.but:hover{
    /* text-shadow:1px 1px yellow; */
    background-color: black;
    color: yellow;
}
.a:hover{
    background-color: black;
}